body {
    padding-top: 20px;
    padding-bottom: 40px;
    background: url(../img/cream_dust.png) repeat;
    background-size: 50px 50px;
}

footer {
}


.hero-unit {
    color: #FF6C57;
    background-color: #151a2d;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.blog-unit {
    padding: 40px 20px;
}

/*
 2.0 dpr
 Retina-specific stuff here
*/
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi){

    /*.hero-unit {*/
        /*background: url(../img/retina_dust_@2X.png) repeat;*/
        /*background-size: 200px 200px;*/
    /*}*/

    body {
        background: url(../img/cream_dust_@2X.png) repeat;
        background-size: 50px 50px;
    }
}

footer a, footer a:visited {
    color: #f1f1f1;
}
/*
.social-icons {
    position: absolute;
    top: 5px;
    left: 40px;
}
*/
.social-icons {
    text-align: center;
}


.social-icons .icon-2x.icon-border {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.title {
    font-size: 38.5px;
    font-weight: bold;
    border-bottom: 4px solid #FF6C57;
}

.circle {
    background-color: #FF6C57;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
     width: 42px;
    height: 42px;
    display: inline-block;
}

.article_title {
    border-bottom: 4px solid #a37ef2;
    margin-bottom: 20px;
    height: 50px;
}

.portfolio_title {
    border-bottom: 4px solid #57eeff;
    margin-bottom: 20px;
    height: 50px;
}

.social-icons i {
    position: relative;
    top: 6px;
}

.social-icons a, .social-icons a:visited {
    color: #151a2d;
    /*padding: 10px;*/
    /*margin: 5px;*/

    /*text-align: center;*/
    text-decoration: none;
    /*vertical-align: middle;*/
}
.social-icons a:hover {
    color: #fefefe;

    /*background-color: #151a2d;*/
    /*text-align: center;*/
    /*padding: 10px;*/
    /*margin: 5px;*/
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
    padding-top: 40px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
    margin-top: -40px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

